@charset "UTF-8";

/* Palheta de cores do desafio!
    - Laranja manhã #E3BA49 
    - Compremento laranja manhã #DEA404
    - Laranja entardecer #FF921C
    - Azul anoitecer #011D43
    */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image:linear-gradient(to top, #E3BA49, #DEA404);
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #484b47;
    text-shadow: 2px 2px 2px #74916d;
}

main {
    width: 500px;
    background-color: #C6F7B9;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(58, 56, 56, 0.507);
}
div#msg{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

footer {
    color: #484b47;
    text-align: center;
    margin-top: 40px;
    

}