@charset "UTF-8";

/*Cores do desafio: 
 - Laranja #DE8F28
 - Amarelo Claro #F5D238
 - Verde abacate #B8DE28
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #DE8F28;
}

header {
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

section {
    background-color: #B8DE28;
    width: 500px;
    height: 350px;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.541);
}
input{
    width: 20%;
    height: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input#contador{
    width: 30%;
    height: 30px;
}
input#contador:hover{
    background-color: #de8f28a1;
}
div{
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 20px;
    text-align: center;
}